.slider {
  display: flex;
  align-items: center;
  width: 90vw;
  margin: auto;
  margin-top: 3vh;
}
.sponsorLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}
.sponsorLogo img {
  object-fit: scale-down;
  height: 20vh;
  width: 17vw !important;
}

.slide {
  margin: 0 !important;
}

@media only screen and (max-width: 600px) {
  .slider {
    display: flex;
    align-items: center;
    width: 90vw;
    margin: auto;
  }
  .sponsorLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
  }
  .sponsorLogo img {
    object-fit: scale-down;
    height: 20vh;
    width: 20vw;
  }
}
