.section-left {
  max-width: 1920px;
  height: 60vh;
  overflow: hidden;
  margin: auto;
  display: flex;
  margin-top: 50px;

  align-items: center;
}

.section-left img {
  height: 100%;
  margin-left: 35%;
  overflow: hidden;
  object-fit: cover;
}

.section-left .text {
  position: absolute;
  width: 40%;
  background-color: #1c1c1c;
  padding: 15px 150px 35px 150px;
  left: 10%;
}

.section-left .titel,
.section-left .content {
  color: #fff;
}

.section-left .titel {
  font-size: 35px;
  margin-bottom: 35px;
}

.section-left .content {
  font-size: 18px;
}

.section-left h6 {
  margin: 0;
  margin-top: 25px;
  width: 160px;
  font-size: 17px;
  color: white;
  border-bottom: 3px solid white;
}

.section-left a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.section-left .icon {
  margin-left: 10px;
}

@media only screen and (max-width: 1200px) {
  .section-left {
    overflow: auto;
    margin: auto;
    height: auto;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  .section-left img {
    height: 350px;
    width: 100vw;
    margin-left: 0;
    overflow: hidden;
    object-fit: cover;
    display: block;
    margin-bottom: 15px;
  }

  .section-left .text {
    position: relative;
    margin-top: -150px;
    width: 90vw;
    left: 0%;
    padding: 0;
    padding-top: 10px;
    overflow-y: hidden;
  }

  .section-left .titel {
    font-size: 35px;
    margin: auto;
    width: 90%;
    text-align: left;
    margin-bottom: 15px;
  }

  .section-left .content {
    width: 90%;
    background-color: #1c1c1c;
    left: 0%;
    margin: auto;
    margin-bottom: 15px;
  }

  .section-left .content {
    font-size: 16px;
  }
}
