.section-right{
  max-width: 1920px;
  height: 60vh;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
display: flex;
align-items: center;
}

.section-right img{
  height: 100%;
  margin-left: -10%;
  overflow:hidden;
  object-fit: cover;
}

.section-right .text{
  position: absolute;
  width: 50%;
  background-color: #1C1C1C;
  padding: 15px 150px 35px 150px;
  right: 0%;
}

.titel, .content {
  color: #fff;
}

.titel{
  font-size: 35px;
  margin-bottom: 50px;
}

.content{
  font-size: 15px;
}