.section-right {
  max-width: 1920px;
  height: 60vh;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.section-right img {
  height: 100%;
  margin-left: -10%;
  overflow: hidden;
  object-fit: cover;
}

.section-right .text {
  position: absolute;
  width: 50%;
  background-color: #1c1c1c;
  padding: 15px 150px 35px 150px;
  right: 0%;
}

.section-right .titel,
.section-right .content {
  color: #fff;
}

.section-right .titel {
  font-size: 35px;
  margin-bottom: 35px;
}

.section-right .content {
  font-size: 18px;
}

@media only screen and (max-width: 1200px) {
  .section-right {
    overflow: auto;
    margin: auto;
    height: auto;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
  }

  .section-right img {
    height: 350px;
    width: 100vw;
    margin-left: 0;
    overflow: hidden;
    object-fit: cover;
    display: block;
    margin-bottom: 15px;
  }

  .section-right .text {
    position: relative;
    margin-top: -150px;
    width: 90vw;
    left: 0%;
    padding: 0;
    padding-top: 10px;
    overflow-y: hidden;
  }

  .section-right .titel {
    font-size: 35px;
    margin: auto;
    width: 90%;
    text-align: left;
    margin-bottom: 15px;
  }

  .section-right .content {
    width: 90%;
    background-color: #1c1c1c;
    left: 0%;
    margin: auto;
    margin-bottom: 15px;
  }

  .section-right .content {
    font-size: 16px;
  }
}
