.section-media {
  max-width: 1920px;
  height: 65vh;
  overflow: hidden;
  margin: auto;
  display: flex;
  margin-top: 50px;

  align-items: center;
}

.section-media img {
  height: 100%;
  margin-left: 35%;
  overflow: hidden;
  object-fit: cover;
}
.section-media .text {
  position: absolute;
  width: 40%;
  background-color: #1c1c1c;
  padding: 15px 150px 35px 150px;
  left: 10%;
}

.section-media .titel,
.section-media .content {
  color: #fff;
}

.section-media .titel {
  font-size: 35px;
  margin-bottom: 35px;
}

.section-media .content {
  font-size: 18px;
}

@media only screen and (max-width: 1200px) {
  .section-media {
    overflow: auto;
    margin: auto;
    height: auto;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  .section-media img {
    height: 350px;
    width: 100vw;
    margin-left: 0;
    overflow: hidden;
    object-fit: cover;
    display: block;
    margin-bottom: 15px;
  }
  .section-media .text {
    position: relative;
    margin-top: -150px;
    width: 90vw;
    left: 0%;
    padding: 0;
    padding-top: 10px;
    overflow-y: hidden;
  }

  .section-media .titel {
    font-size: 35px;
    margin: auto;
    width: 90%;
    text-align: left;
    margin-bottom: 15px;
  }

  .section-media .content {
    width: 90%;
    background-color: #1c1c1c;
    left: 0%;
    margin: auto;
    margin-bottom: 15px;
  }

  .section-media .content {
    font-size: 16px;
  }
}
