.project {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.projectTitle {
  font-size: 750%;
  color: white;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 25px;
  white-space: nowrap;
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .project .projectTitle {
    font-size: 350%;
    letter-spacing: 15px;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .project .projectTitle {
    font-size: 200%;
    letter-spacing: 15px;
    margin-left: 15px;
  }
}
