.vimeo {
  width: 100vw;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

@media only screen and (max-width: 1200px) {
  .vimeo {
    width: 100vw;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
