@import url("https://use.typekit.net/krd7hpy.css");

body {
  margin: 0;
  font-family: proxima-nova, sans-serif;
  background-color: #1c1c1c;
  overflow-x: hidden;
}

.turn {
  display: none;
}
@media screen and (orientation: landscape) and (max-height: 600px) and (max-width: 1000px) {
  .App {
    display: none;
  }
  .turn {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
  }
  .turn img {
    position: absolute;
    width: 20vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
