.video {
  z-index: -3;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  object-fit: cover;
  filter: opacity(60%);
}

.image {
  z-index: -3;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  object-fit: cover;
  filter: opacity(60%);
}

.videoout-enter {
  opacity: 0.01;
}

/* ending ENTER animation */
.videoout-enter-active {
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.videoout-exit {
  opacity: 1;
}

.videoout-exit-active {
  opacity: 0;
  transition: all 300ms ease-in-out;
}

/* https://codemyui.com/scroll-icon-animation/ */

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
  z-index: 1;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 85vh;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: rgb(255, 255, 255);
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

@media only screen and (max-width: 600px) {
  .icon-scroll {
    transform: scale(0.7);
    top: 80vh;
    box-shadow: inset 0 0 0 2px #fff;
    border-radius: 25px;
  }
}
